NEXT_PUBLIC_APP_URL="http://localhost:3000"

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

BILLING_ENABLED="false"
XENDIT_SECRET_KEY=""
XENDIT_WEBHOOK_TOKEN=""
XENDIT_BUSINESS_ID=""
XENDIT_API_VERSION="2026-01-01"

SUPPORT_EMAIL="support@promptvault.ph"
CRON_SECRET=""
